n8n/workflows/oscorp-workflow.json
{
  "id": "oscorp-cowrie-ndjson-pipeline",
  "name": "OSCORP - Cowrie Pipeline Orchestration",
  "description": "Fase 30: n8n invoca al worker trazable y agenda reportes diarios/semanales.",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "0a8f2b49-4b34-49d9-9121-5fb0b43e8d0a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "31d3d2e8-1f4c-4a23-9631-83021f6332e4",
      "name": "Daily Report Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        220
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 3,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "75663e8f-b87e-4eb6-92d1-9e70f0395b43",
      "name": "Weekly Report Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const requestId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n  const random = Math.floor(Math.random() * 16);\n  const value = char === 'x' ? random : (random & 0x3) | 0x8;\n  return value.toString(16);\n});\nconst sourceMode = $env.N8N_SOURCE_MODE || 'lab';\nreturn [{\n  json: {\n    contract_version: '1.0',\n    request_id: requestId,\n    triggered_by: 'n8n_manual',\n    mode: 'incremental',\n    source: 'cowrie_ndjson',\n    source_mode: sourceMode\n  }\n}];"
      },
      "id": "60457f6f-561d-4d35-bcdf-c8bf81e1ea7f",
      "name": "Build Run Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const requestId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (char) => {\n  const random = Math.floor(Math.random() * 16);\n  const value = char === 'x' ? random : (random & 0x3) | 0x8;\n  return value.toString(16);\n});\nconst sourceMode = $env.N8N_SOURCE_MODE || 'lab';\nreturn [{\n  json: {\n    contract_version: '1.0',\n    request_id: requestId,\n    triggered_by: 'n8n_schedule',\n    mode: 'incremental',\n    source: 'cowrie_ndjson',\n    source_mode: sourceMode\n  }\n}];"
      },
      "id": "a91a9959-d751-4b80-82bd-21d71fbe0885",
      "name": "Build Scheduled Run Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pipeline-worker:8080/runs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "535e9c20-793c-4859-b270-1b90e0829cf1",
      "name": "Invoke Pipeline Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const required = ['contract_version', 'request_id', 'status', 'events_read', 'events_inserted', 'events_indexed', 'errors_count', 'source_offset_start', 'source_offset_end'];\nfor (const item of $input.all()) {\n  for (const field of required) {\n    if (!(field in item.json)) throw new Error(`INVALID_WORKER_RESULT: missing ${field}`);\n  }\n  if (item.json.contract_version !== '1.0') throw new Error('INVALID_WORKER_RESULT: contract version');\n  if (!['completed', 'completed_with_errors'].includes(item.json.status)) throw new Error(`PIPELINE_FAILED: ${item.json.error_code || 'unknown'}`);\n}\nreturn $input.all();"
      },
      "id": "ad903292-35f3-4586-a11e-685330596756",
      "name": "Validate Worker Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS run_id, request_id, triggered_by, status, events_read, events_inserted, events_indexed, errors_count, source_offset_start, source_offset_end, checkpoint_reset_reason, error_code FROM pipeline_runs WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $json.run_id }}"
        }
      },
      "id": "f41b480d-aa75-420e-822d-d755f8c3c832",
      "name": "Confirm Pipeline Run",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        300,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "oscorp-postgres",
          "name": "OSCORP Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length !== 1) throw new Error('PIPELINE_RUN_NOT_FOUND');\nconst run = items[0].json;\nif (!['completed', 'completed_with_errors'].includes(run.status)) {\n  throw new Error(`PIPELINE_RUN_INVALID: ${run.status}`);\n}\nreturn items;"
      },
      "id": "78875df8-2a67-4492-82cf-a3e7a3872438",
      "name": "Validate Pipeline Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Run Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Report Schedule": {
      "main": [
        [
          {
            "node": "Build Scheduled Run Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Report Schedule": {
      "main": [
        [
          {
            "node": "Build Scheduled Run Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Run Request": {
      "main": [
        [
          {
            "node": "Invoke Pipeline Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scheduled Run Request": {
      "main": [
        [
          {
            "node": "Invoke Pipeline Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoke Pipeline Worker": {
      "main": [
        [
          {
            "node": "Validate Worker Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Worker Result": {
      "main": [
        [
          {
            "node": "Confirm Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Pipeline Run": {
      "main": [
        [
          {
            "node": "Validate Pipeline Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
